$green:#19CB99;
$black:#0A1930;
$gray:#172B46;
$gray-light:#BEBEBE;
$white:#fff;
$red:#fb5d72;
$placeHolderColor:#B4B1B1;
$secondary:#6c757d;
$yellow:#ffc64f;
$purple: #7E94FF;
$light-secondary: #55667D;
$text-secondary: #9DADC2;